#chatScreen
{
    flex-grow: 1;
}

#chatLabel
{
    flex: none;
}

#chat-area                      
{
    flex: auto;
    overflow: auto; 
    border: 5px groove;
    background: black; 
    text-align: left;
    vertical-align: bottom;
}

form#messageForm
{
    flex: none;
}

#chat-area p.normal                    
{ 
    color: #4e6;
    height: 3px;
    padding: 1px 10px;
}

p.red
{
    color: red;
    height: 3px;
    padding: 1px 10px;
}

#msg                        
{
    height:40px;
    border: 5px inset;
    font: 12px "Lucida Grande", Sans-Serif;
}

