.row
{
  display: flex;
  flex-direction: row;
}

.column
{
  display: flex;
  flex-direction: column;
}

.flexcenter
{
  justify-content: center;
}

.grid-col-1
{
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-col-2
{
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-row-1
{
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-row-2
{
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-row-3
{
  grid-row-start: 3;
  grid-row-end: 4;
}
