@import "munro_font.css";
@import "green_screen_font.css";

html  {
    min-height:100%;
    background: url('../img/bg_compressed.png') no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

body {
    text-align:center;
    min-height:100%;
    background-color: rgba(0,0,0,0);
    font-family: "Munro", sans-serif;
    font-weight: normal;
    font-size: 2em;
    color: black;
}

input[type="text"],input[type="password"] {
    padding-left: 10px;
    margin-top: 7px;

    border: 1px solid black;
    background-color: rgba(66,66,66,0.75);
    color: white;
}

#loginTable input[type="text"], #loginTable input[type="password"]{
    background-color: rgba(230,230,200,1);
    color: black;
}

button {
    color: #DEDEDE;
    background-color: rgba(84,84,84,1); /* #545454 */
    border-color: #424242;
}
button:hover {
    background-color: #666666;
    border-color: #595959;
}

button.recoverpassword-button {
    float: left;
}

button.login-option {
    border-width: 1px;
    color: #A8A8A8;
}

button#login-button {
    background-color: #F0DB37;
    border-color: #BFAA0B;
    color: black;
}
button#login-button:hover {
    background-color: #FFF180;
    border-color: #CCBB3D;
}

form#loginForm {
    margin: auto;
}

table#loginNavigation {
    margin: auto;
    padding: 0;
}

div.button-row {
    margin-top: 7px;
    margin-bottom: 7px;
}

span.login-caption {
    text-align: right;
    color: yellow;
    float: left;
    width: 100px;
}

span.register-caption {
    float: left;
    width: 150px;
    margin-right: 2px;
    text-align: right;
    color: yellow;
}

span.recoverpassword-caption {
    float: left;
    width: 200px;
    margin-right: 2px;
    text-align: right;
    color: yellow;
}

span.status-caption {
    margin-top: 7px;
}

#rememberme-text {
    color: #C9C9C9;
    font-family: "Munro Small", sans-serif;
    font-size: 0.65em;
}

.pixel-title {
    font-family: "Munro Small", sans-serif;
}

.border {
    border: 1px solid black;
}

#page {
    position:relative;
    margin:auto;
    width: 400px;
}

#loginScreen {
    top:45%;
	display:none;
}

#registerContainer, #forgotPassContainer {
    margin:auto;
    display:none;
}

#loginStatusLabel, #registerStatusLabel, #forgotPassStatusLabel {
    color:#FF4A36;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#images {
    display:none;
}

div.popup {
    display:none;
    width: 50%;
    position:absolute;
    top:10%;
    left:25%;
    padding: 20px;
    border: 1px solid black;
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 30%, #96EE9A 100%);
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #96EE9A));
    z-index:1000;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#screenshots {
    text-align:center;
    display:none;
}

img {
    margin: 2px;
}

div#story, div#rules {
    font-family: "Green Screen", serif;
    font-size: 0.625em;
}

footer {
    margin-top: 10px;
    font-size: 0.5em;
}

footer a {
    color: gray;
}
